@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{
  background-color:black;
  font-family:Pacifico;
  text-align:center;
}

img{
  border: 15px solid #D81B60  ;
  border-radius: 30px;
  padding:15px;
  width:500px;
  height:500px;
  
  }

.image-section {
  display: flex;
  justify-content:center;
}

.section-style {
   margin-left: 25px;
  margin-right:25px;
  background-color: white;
}

div {
    margin-top: 20px;
    color:black;
    background-color:
    
}


h1 {
  color: white;
}